# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.JRPG.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\School\Licenta\JRPG\.idea\.idea.JRPG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
